.middle {
  vertical-align: middle;
  position: relative;
}

.head_btns {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}

.table td:not(:first-child) {
  text-align: right;
}
